[Unit]
Description=fpark
After=network.target

[Service]
WorkingDirectory=/var/www/fpark
User=fpark
ExecStart=@exec start -c fpark.config.json
Restart=always

[Install]
WantedBy=multi-user.target
